<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <!--  PROD
  <add key="TableFolder" value="Server = PASA-AMDCDBDEV.saxonburg.ii-vi.net,56144; Database = packaging_logger; Integrated security = True" />  -->

    <!--  DEV  -->
    <add key="TableFolder" value="Server = PASA-AMDCDBDEV.saxonburg.ii-vi.net,56144; Database = packaging_logger; Integrated security = True" />

    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  
</configuration>